/*#region [ Main IDs ]*/
#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    height: 100vh;
}
/*#endregion */

/*#region [ v-table ]*/
table.v-table thead th, table.v-table tbody td{
    padding: 0 7px !important;
}
/*#endregion */

/*#region [ v-list ]*/
.v-list-item.v-list-item--link {
    padding-left: 15px !important;
}
.v-list-item{
    padding-left: 0px !important;
}
.v-list-item__icon{
    padding-left: 15px !important;
}
.v-list--two-line .v-list__tile{
    height: 62px !important;
}
.v-list-item__action {
    -ms-flex-item-align: center !important;
    align-self: center !important;
    margin: 12px 0px 12px 10px !important;
    margin-right: 16px !important;
}
.v-list-item__action i {
    min-width:24px;
}
.v-application--is-ltr .v-list-group--sub-group .v-list-group__header{
    padding-left: 16px !important;
}
.v-application--is-ltr .v-list-group--no-action.v-list-group--sub-group > .v-list-group__items > div > .v-list-item{ 
    padding-left: 20px !important;
}
/*#endregion */

.v-card{
    padding: 10px;
    margin: 5px;
}


