$margin: 5px;
$padding: 5px;

.v-card {
    .custom-full-height{
        margin: $margin;
        padding: $padding;
        height: calc(100% - #{$margin*2});
    }
    .custom{
        margin: $margin;
        padding: $padding;
    }
}

.v-btn {
    .custom {
        margin: 1px;
    }
}
.SocketIO-prop {
    margin-right: 5px; 
    width: 100px;   
    color: orange
}
.SocketIO-title {
    margin-right: 10px;    
}




