div.tscomp-div.flex.v-container.items.h-center.v-center
    h1.tscomp-h1 The TS Component Title
    p.tscomp-p this is the TS Component paragraph.  this is the TS Component paragraph.  this is the TS Component paragraph.  this is the TS Component paragraph.  this is the TS Component paragraph. 
